 
<nav class="flex flex-row h-16 bg-white w-full justify-between items-center px-4  fixed top-0 z-50">
  <a routerLink="/" class="flex items-center">
    <a routerLink="home"><img class="h-6 cursor-pointer" src="assets/Back.svg" alt="Back"></a>
    <img class="h-[36px] cursor-pointer mx-5" src="assets/full-logo.svg" alt="Logo">
  </a>
  <div class="flex flex-row gap-6">
    <a routerLink="/account"><img class="h-6 cursor-pointer" src="assets/User.svg" alt="Account"></a>
    <a routerLink="/about"><img class="h-6 cursor-pointer" src="assets/Search.svg" alt="Search"></a>
    <a routerLink="/contact"><img class="h-6 cursor-pointer" src="assets/Bag.svg" alt="Cart"></a>
  </div>
</nav>

<!--    
<nav class="flex flex-row h-16 bg-white w-full justify-between items-center pl-3 pr-3">
-->